header {
  position: absolute;
  z-index: 999;
  background-color: black;
  opacity: .5;
  height: 60px;
  width: 100%;
  display: fixed;
  grid-template-columns: repeat(2, 1fr);
  display: flex; }
  header h2 {
    margin: auto;
    width: 70%;
    padding-left: 40px; }
    header h2 a {
      text-decoration: none;
      opacity: 0.75;
      color: #fff; }
      header h2 a:hover {
        opacity: 1; }
  header nav {
    display: inline-flex;
    width: 30%;
    margin: auto;
    list-style: none; }
    header nav li {
      padding: 0 30px; }
      header nav li a {
        text-decoration: none;
        opacity: 0.75;
        color: #fff; }
        header nav li a:hover {
          opacity: 1; }